<!--
  Generated template for the ChartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Graphical Representation</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
    <div style="padding: 10px">
        <ion-segment (ionChange)="durationChange(timeDuration)"  style="margin-top: 0.5rem" mode="ios" [(ngModel)]="timeDuration">
          <ion-segment-button value="today">
            Today
          </ion-segment-button>
          <ion-segment-button value="yesterday">
            Yesterday
          </ion-segment-button>
          <ion-segment-button value="week">
            Last Week
          </ion-segment-button>
          <ion-segment-button value="month">
            Last month
          </ion-segment-button>
          <ion-segment-button value="date">
            Date
          </ion-segment-button>
        </ion-segment>
        </div>

     
     <div *ngIf="isStore" class="graph-div">
        <canvas class="canvas" width="600" height="600" #doughnutCanvas></canvas>
      </div>

      <div *ngIf="isSale"  class="graph-div">
         <canvas class="canvas" width="600" height="600" #barCanvas></canvas>
        </div>

         <div *ngIf="isService"  class="graph-div">
          <ion-item-divider style="margin-bottom: 10px;">
                Services
          </ion-item-divider>
          <canvas class="canvas" width="600" height="600" #pieCanvas></canvas>
        </div> 
</ion-content>
<ion-footer>
  <ion-row>
      <ion-item no-lines>
        <ion-scroll scrollX="true">
            <button ion-button class="scroll-item selectable-icon" *ngFor="let item of segment" (click)="buttonClicked(item)" >
                  {{item}}
            </button>
        </ion-scroll>
      </ion-item>
    
    </ion-row>
  

</ion-footer>