page-attendance {
    .note{
        color: #34495E;
        font-size: 14px;
    }

    .label {
        color: #34495E;
        margin: 10px 5px 5px 0;
        font-size: 14px;
    }

    .item {
        border-bottom: 1px solid #d7dbe0;
    }
}
